* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1920px;
    isolation: isolate;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}


.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: rgb(43, 67, 226);
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.container-loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stle-dir {
    cursor: pointer;
    color: #223D7A;
    text-decoration: underline;
}

.div-jcl {
    width: 30px;
    height: 30px;
    border-radius: 21px;
    background-size: cover !important;
}